*{
	text-align: center;
	font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;

}
body {
    background-color: #12172b;
}
a{
	
	color:white !important;
	
}
.container {
 
  color: white;
}
.heading {
  font-size: 60px;
  color: white;
}
.profile {
  flex-basis: 260px;
}

.row{
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.col-md-6 {
  flex-basis: 260px;
}


.profile img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
  margin-top:50px;
}

.profile:hover img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;

}


@media only screen and (max-width: 900px) {
  .heading {
    font-size: 60px;
    color: white;
    text-align: center;
  }

  .heading{
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

@media (min-width : 500px) and (max-width:900px){
.heading {
    font-size: 60px;
    color: white;
    text-align: center;
  }

}